.main-container {
  margin-bottom: 60;
}

.content-container {
  margin-left: 20;
  margin-right: 20;
  text-align: center;
}

.intro-heading {
  font-size: 24;
  margin-top: 16;
}

.intro-text {
  color: #9B9B9B;
  font-size: 17;
}
