<DockLayout stretchLastChild="false">
    <StackLayout #mainContainer class="main-container" dock="top">
        <Image class="intro-image" src="res://intro_bg" stretch="none"></Image>
        <StackLayout class="content-container">
            <Label class="intro-heading" text="Welcome"></Label>
            <Label class="intro-text" text="Say hello to the brand new Tickets For Good App! Purchase tickets, donate tickets and much more!" textWrap="true"></Label>
        </StackLayout>
    </StackLayout>
    <Button text="Continue" class="submit-button" dock="bottom" height="60" (tap)="continue()"></Button>
</DockLayout>
