<NavigationButton icon="res://ic_back" ios:visibility="collapse" (tap)="goBack()"></NavigationButton>
<ActionItem icon="res://ic_back" ios.position="left" android:visibility="collapse" (tap)="goBack()"></ActionItem>
