.event-image {
  width: 100%;
  height: 180;
}

.event-item {
  margin: 5;
  text-align: right;
}

.event-title {
  color: white;
  padding-top:2;
  padding-bottom: 2;
  padding-left: 2;
  padding-right: 10;
  background-color: #1D1D1B;
  font-weight: bold;
}
