<ActionBar title="Events" class="action-bar"></ActionBar>
<side-drawer-page>
    <StackLayout>
        <ListView [items]="events" separatorColor="transparent">
            <template let-item="item">
              <GridLayout columns="5, auto, *" rows="5, *, auto" class="event-item" (tap)="showEvent(item.id)">
                  <Image row="0" col="0" rowSpan="3" colSpan="3" class="event-image" [src]="'https:' + item.image" stretch="aspectFill"></Image>
                  <Label row="1" col="3" class="event-title" [text]="item.title" textWrap="true" style.horizontalAlignment="right" style.verticalAlignment="top"></Label>
              </GridLayout>
          </template>
        </ListView>
    </StackLayout>
</side-drawer-page>
