<ActionBar [title]="event?.title" class="action-bar">
     <NavigationButton icon="res://ic_back" ios:visibility="collapse" (tap)="goBack()"></NavigationButton>
     <ActionItem icon="res://ic_back" ios.position="left" android:visibility="collapse" (tap)="goBack()"></ActionItem>
</ActionBar>
<ScrollView>
    <StackLayout>
        <Label class="h2" [text]="event?.title"></Label>
        <Label text="{{event?.description}}" textWrap="true"></Label>
    </StackLayout>
</ScrollView>
