<RadSideDrawer [transition]="drawerTransition" showOverNavigation="true">
  <StackLayout tkDrawerContent class="sidedrawer-left">
    <StackLayout class="sidedrawer-header">
      <!-- Set src attribute to the logo of the app -->
      <Image class="sidedrawer-logo" src="res://logo_notext" stretch="none" horizontalAlignment="center"></Image>
    </StackLayout>
    <ScrollView>
      <StackLayout class="sidedrawer-content">
        <GridLayout
            class="sidedrawer-list-item"
            *ngFor="let nav of navMenu">
          <Button
              class="sidedrawer-list-item-text"
              [text]="nav.name"
              (tap)="navigateTo(nav.commands)">
          </Button>
        </GridLayout>
      </StackLayout>
    </ScrollView>
  </StackLayout>
  <StackLayout tkMainContent>
    <StackLayout [visibility]="isContentVisible ? 'visible' : 'collapsed'">
      <ng-content></ng-content>
    </StackLayout>
    <GridLayout
        class="loader-container"
        [visibility]="!isContentVisible ? 'visible' : 'collapsed'">
      <ActivityIndicator
          width="30"
          height="30"
          [busy]="!isContentVisible"
          class="activity-indicator">
      </ActivityIndicator>
    </GridLayout>
  </StackLayout>
</RadSideDrawer>
