.sidedrawer-header, .sidedrawer-left {
  background-color: #1B1B1D;
}

.sidedrawer-logo {
  margin-top: 40;
}

.sidedrawer-list-item-text {
  background-color: #1B1B1D;
  font-size: 17;
  margin-top: 20;
  text-align: center;
  color: white;
  width: 100%;
  padding: 0;
}
